{% extends 'base.html' %}

{% block content %}
    <h4>Your Trips:</h4> <br>
    <a href="{% url 'travels:driver_register_travel' request.user.id %}" class="btn btn-dark">Register Trip</a><br><br>
<style>
    .myTable { 
      width: 100%;
      text-align: left;
      background-color: rgb(245, 243, 223);
      border-collapse: collapse; 
      }
    .myTable th { 
      background-color: rgb(248, 221, 155);
      color: rgb(49, 47, 47); 
      }
    .myTable td, 
    .myTable th { 
      padding: 10px;
      border: 1px solid rgb(218, 165, 32); 
      }
  
      body {
      counter-reset: section;
  }
  
  table tbody tr th::before {
      counter-increment: section;
      content: "Section " counter(section);
  }
  
  table tbody tr th::before {
      content: counter(section);
  }
</style>

<table class="myTable">
<thead>
    <tr>
        <th>#</th>
        <th scope="col">Startcity</th>
        <th scope="col">Destination City</th>
        <th scope="col">Time</th>
        <th scope="col">Date</th>
        <th scope="col">Situation</th>
        <th scope="col">ramind capacity</th>
    </tr>
</thead>
<tbody>
    {% for travel in travels %}
    <tr>
      <th scope="row"></th>
      <td>{{ travel.startcity }}</td>
      <td>{{ travel.destanition }}</td>
      <td>{{ travel.date_time.time }}</td>
      <td>{{ travel.date_time.date }}</td>
      <td>{{ travel.approved }}</td>
      <td>{{ travel.get_capacity }}</td>
  {% endfor %}
    </tr>
</tbody>
</table> <br>
  
{% endblock %}