{% extends 'base.html' %}


{% block content %}
<br>
<!-- CSS -->
<style>
    .myTable { 
      width: 100%;
      text-align: left;
      background-color: rgb(245, 243, 223);
      border-collapse: collapse; 
      }
    .myTable th { 
      background-color: rgb(248, 221, 155);
      color: rgb(49, 47, 47); 
      }
    .myTable td, 
    .myTable th { 
      padding: 10px;
      border: 1px solid rgb(207, 155, 24); 
}
</style>

<table class="myTable" >
    <thead>
      <tr>
        <th>#</th>
        <th scope="col"> Transection_type</th>
        <th scope="col">Amount</th>
        <th scope="col">Order</th>
        <th scope="col">OrderQuantity</th>
        <th scope="col">Is_accepted</th>
        <th scope="col">Request_Date</th>
        <th scope="col">Accept_Date</th>

      </tr>
    </thead>
    <tbody>
    {% for transection in get_transection %}   
        <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td> {% if transection.transection_type == '1' %}
                    <h6>request</h6>
                {% else %}
                    <h6>order</h6>
                {% endif %}
            </td>
            <td>{{ transection.amount }}</td>
            <td>{{ transection.get_object.ticket }}</td>
            <td>{{ transection.get_object.quantity }}</td>
            <td>{{ transection.get_object.is_accept }}</td>
            <td>{{ transection.get_object.created }}</td>
            <td>{{ transection.created }}</td>
           
        </tr>    
    {% endfor %}
    </tbody>
</table>
{% endblock %}