{% extends 'base.html' %}

{% block content %}
    <h4>Ticket Information</h4> <br>
    {% for travel in travels %}
        <h5>Startcity:  {{ travel.startcity }}</h5> <hr>
        <h5>Destination City:  {{ travel.destanition }}</h5><hr>
        <h5>Time: {{ travel.date_time.time }}</h5><hr>
        <h5>Date: {{ travel.date_time.date }}</h5><hr>
        <h5>DriverCar: {{ travel.driver_car }}</h5><hr>
        <h5>capacity: {{ travel.quantity }} </h5><hr>
        <h5>Price: {{ travel.price }}.toman</h5>
        <h4>ramind capacity: {{ travel.get_capacity }}</h4>
     
        <form action="{% url 'orders:add_order' travel.id %}" method="post">
            {% csrf_token %}
            {{ order_form }} <br>
            <input type="submit" value="add to cart" class="btn btn-success col-md-1">
        </form>
    {% endfor %}

{% endblock %}