{% extends 'base.html' %}

{% block content %}
    <h4>Ticket Information</h4> <br>
    <style>
        .myTable { 
          width: 100%;
          text-align: left;
          background-color: rgb(245, 243, 223);
          border-collapse: collapse; 
          }
        .myTable th { 
          background-color: rgb(248, 221, 155);
          color: rgb(49, 47, 47); 
          }
        .myTable td, 
        .myTable th { 
          padding: 10px;
          border: 1px solid rgb(218, 165, 32); 
          }
      
          body {
          counter-reset: section;
      }
      
      table tbody tr th::before {
          counter-increment: section;
          content: "Section " counter(section);
      }
      
      table tbody tr th::before {
          content: counter(section);
      }
    </style>
    
<table class="myTable">
    <thead>
        <tr>
            <th>#</th>
            <th scope="col">Startcity</th>
            <th scope="col">Destination City</th>
            <th scope="col">seat_number</th>
            <th scope="col">Time</th>
            <th scope="col">Date</th>
            <th scope="col">DriverCar</th>
            <th scope="col">capacity</th>
            <th scope="col">Price</th>
            <th scope="col">Availe</th>
            <th scope="col">ramind capacity</th>
        </tr>
    </thead>
    <tbody>

    {% for ticket in tickets %}
        <tr>
          <th scope="row"></th>

        <td>{{ ticket.travel.startcity }}</td> 
        <td>{{ ticket.travel.destanition }}</td>
        <td>{{ ticket.seat_number }}</td>
        <td>{{ ticket.travel.date_time.time }}</td>
        <td>{{ticket.travel.date_time.date }}</td>
        <td>{{ ticket.travel.driver_car }}</td>
        <td>{{ ticket.travel.quantity }} </td>
        <td>{{ ticket.travel.price }}.toman</td>
        <td>{{ ticket.is_available }}</td>
        <td>{{ ticket.travel.get_capacity }}</td>
    </tr>
    </tbody>
</table> <br>
        {% if ticket.is_available %}
            <form action="{% url 'orders:add_order' ticket.id %}" method="post" novalidate>
                {% csrf_token %}
                {{ order_form }} <br>
                <input type="submit" value="add to cart" class="btn btn-success col-md-1">
            </form>
        {% else %}
            <h4>This Ticket has Ended.</h4>
        {% endif %}
    {% endfor %}

<h6 style="display: flex; justify-content: end; align-items: center;">شرایط استرداد: در صورت استرداد بعد از یکساعت {{base_percent}}درصد از مبلغ بلیط کسرخواهد شد</h6>
{% endblock %}



  
       
   
  
  