{% extends 'base.html' %}

{% block content %}
    
<table class="table table-bordered table-dark">
    <thead>
      <tr>
        <th>#</th>
        <th scope="col">Driver</th>
        <th scope="col">travel</th>
        <th scope="col">capacity</th>
      </tr>
    </thead>
    <tbody>
        {% for ticket in tickets %}
      <tr>
        <th scope="row">{{ forloop.counter }}</th>
        <td>{{ ticket.travel.driver_car }}</td>
        <td>{{ ticket.travel }}</td>
        <td>{{ ticket.travel.driver_car.car.capacity }}</td>
      </tr>
      {% endfor %}
    </tbody>
</table>
    <br>
{% endblock %}