{% extends 'base.html' %}

{% block content %}
<table class="table table-bordered table-dark">
    <thead>
      <tr>
        <th>#</th>
        <th scope="col">Car</th>
        <th scope="col">Capacity</th>
  
      </tr>
    </thead>
    <tbody>
        {% for car in cars %}
      <tr>
        <th scope="row">{{ forloop.counter }}</th>
        <td>{{ car.name }}</td>
        <td>{{ car.capacity }}</td>
       {% endfor %}
    </tbody>
</table>   
<a href="{% url 'accounts:car_register' %}" class="btn btn-primary">Car Register</a>

{% endblock %}