{% extends 'base.html' %}

{% block content %}
    
<table class="table table-bordered table-dark">
    <thead>
      <tr>
        <th>#</th>
        <th scope="col">Name</th>
        <th scope="col">Remove</th>
      </tr>
    </thead>
    <tbody>
   
        {% for city in cities %}
      <tr>
        <th scope="row">{{ forloop.counter }}</th>
        <td>{{ city.name }}</td>
      <td><a href="{% url 'management:delete_city' %}?city_ids={{ city.id }}" class="btn btn-danger">Remove</a></td>
      </tr>
      {% endfor %}
   
    </tbody>
</table>
    <br>
    <a href="{% url 'management:change_city' %}" class="btn btn-info col-md-1">Register City</a>
    
{% endblock %}