{% extends 'base.html' %}

{% block content %}
<br>
<table class="table table-bordered table-dark">
  <thead>
    <tr>
      <th scope="col">Username</th>
      <th scope="col">capacity</th>
    </tr> 
    <tbody>
      {% for ticket in tickets %}
      
      <tr>
        {% if forloop.first %}                         
        <td>{{ ticket.travel.driver_car }}</td>
        <td>{{ ticket.travel.get_capacity }}</td>
        {% endif %}
      </tr>
      {% endfor %}
    </tbody>
  </thead>

</table>

    
<table class="table table-bordered table-dark">
    <thead>
      <tr>
        <th>#</th>
        <th scope="col">Username</th>
        <th scope="col">travel</th>
        
      </tr>
    </thead>
    <tbody>
        {% for ticket in tickets %}
      <tr>
        <th scope="row">{{ forloop.counter }}</th>
        <td>{{ ticket.user }}</td>
        <td>{{ ticket.travel }}--{{ ticket.travel.get_jalali_start_time }}</td>
        
      </tr>
        {% endfor %}
    </tbody>
</table>
    <br>
{% endblock %}