{% extends 'base.html' %}

{% block content %}
  
<table class="table table-bordered table-dark">
    <thead>
      <tr>
        <th>#</th>
        <th scope="col">Driver_Car</th>
        <th scope="col">startcity</th>
        <th scope="col">destanition</th>
        <th scope="col">price</th>
        <th scope="col">distance</th>
        <th scope="col">start-time</th>
        <th scope="col">end-time</th>
        <th scope="col">Approve</th>
        <th scope="col">Remove</th>
      </tr>
    </thead>
    <tbody>
      {% for travel in travels %}
      
      <tr>
        <th scope="row">{{ forloop.counter }}</th>
        <td>{{ travel.driver_car }}</td>
        <td>{{ travel.startcity }}</td>
        <td>{{ travel.destanition }}</td>
        <td>{{ travel.get_cost }}</td>
        <td>{{ travel.get_distance }}.Km</td>
        <td>{{ travel.get_jalali_start_time }}</td>

        <td>{{ travel.get_jalali_end_time }}</td>

        {% if travel.approved == False %}
          <td><a href="{% url 'travels:approve_travel' travel.id %}" class="btn btn-success">Accept</a></td>
        {% else %}
          <td>Approved</td>
        {% endif %}
        <td><a href="{% url 'travels:delete_travel' %}?travel_id={{ travel.id }}" class="btn btn-danger">Remove</a></td>
      </tr>
      {% endfor %}
   
    </tbody>
</table>
    <br>
    <a href="{% url 'travels:travel_admin' %}" class="btn btn-info col-md-1">Register Travel</a>
 
{% endblock %}