<nav class="navbar navbar-expand-lg navbar-light" style="background-color: rgb(252, 249, 196);box-shadow: 0px 13px 11px 1px rgb(252, 249, 192);">
    <div class="container-fluid" style="width: 100%;">
      
        <div class="container" style="display: flex; align-items: center;  padding: 0; margin: 0; width: 100%;" > 
            {% if request.user.is_authenticated and user.is_superuser %}
              <a class="navbar-brand" href="{% url 'accounts:admin_panel' %}">admin</a>
            {% elif request.user.is_authenticated and user.user_type == '2' %}
                <a class="navbar-brand" href="{% url 'accounts:driver_travel' user.id %}">Driver panel</a>
            {% else %}
              <a class="navbar-brand" href="{% url 'home:home' %}">Home</a>
            {% endif %}

            {% if request.user.is_authenticated %}
              <a class="navbar-brand" href="{% url 'accounts:user_logout' %}">Logout</a>
            {% else %}
              <a class="navbar-brand" href="{% url 'accounts:user_register' %}">Register</a>
              <a class="navbar-brand" href="{% url 'accounts:user_login' %}">Login</a>
            {% endif %}

            {% if request.user.is_authenticated and user.user_type == '1' %}
                <a class="navbar-brand" href="{% url 'accounts:driver_register' user.id %}">Drivers register</a>
                <a class="navbar-brand" href="{% url 'orders:orders_detail' user.id %}">Cart</a>
            {% elif request.user.is_authenticated and user.user_type == '2' %}
                <a class="navbar-brand" href="{% url 'accounts:driver_profile' user.id %}">Driver Profile</a>
            {% endif %}
          </div>
            <div style="margin: 0; padding: 0;">
              {% if request.user.is_authenticated and user.user_type == '1' %}
              <a class="navbar-brand" style="margin: 0; padding: 0;" href="{% url 'accounts:wallet_balance' %}" >Wallet/ {{ user.user_wallet.balance }}.Toman</a>
              {% endif %}
            </div>
          </div>
    </div>
</nav>